@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Tektur:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Tektur:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Jura";
  font-weight: 900;
}

:root {
  background-color: #544F4D;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1700px;
}

.container-min {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.but-action {
  display: block;
  font-size: 20px;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  border-radius: 100px;
  background-color: #EC865D;
  color: #fff;
  padding: 10px 50px;
  transition: background 0.1s;
  border: none;
  outline: none;
}
.but-action:hover {
  background-color: #C8AA94;
}

.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6588235294) 40%, transparent 40%), url("../images/back-home.jpg");
  background-size: cover;
  height: 700px;
}
.header .navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.header .navigation .menu {
  display: flex;
}
.header .navigation .menu a {
  display: block;
  margin-right: 30px;
  color: #fff;
  font-size: 26px;
  text-decoration: none;
  transition: all 0.2s;
}
.header .navigation .menu a:hover {
  color: #EC865D;
}
.header .navigation .social a {
  margin-left: 5px;
}
.header .navigation .social a img {
  transition: all 0.1s ease-in-out;
  max-width: 30px;
}
.header .navigation .social a:hover img {
  transform: scale(1.2);
}
.header .hello-content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
}
.header .hello-content-block .title {
  margin-top: 200px;
  font-family: "Livvic";
  font-size: 70px;
}
.header .hello-content-block .description {
  display: flex;
  justify-content: end;
  font-size: 20px;
}
.header .hello-content-block .but-action {
  font-size: 30px;
  margin-top: 70px;
}
.header .hello-content-block .accent-title {
  text-shadow: 5px 5px #EC865D, 4px 4px #EC865D, 3px 3px #EC865D, 2px 2px #EC865D, 1px 1px #EC865D;
  font-weight: 900;
  text-align: left;
  margin-top: 50px;
  font-size: 50px;
}

.main .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .about .content-about {
  margin-top: 50px;
  width: 40vw;
}
.main .about .content-about h2 {
  color: #C8AA94;
  font-size: 70px;
}
.main .about .content-about p {
  color: #fff;
  margin-top: 50px;
  font-size: 35px;
}
.main .about .content-about .menu-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.main .about .content-about .menu-list .towar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 30px;
  border-bottom: 5px double #C8AA94;
}
.main .about .content-about .menu-list .towar .content-towar {
  flex-grow: 1;
}
.main .about .content-about .menu-list .towar .content-towar .title {
  color: #fff;
  font-size: 40px;
}
.main .about .content-about .menu-list .towar .content-towar .desc {
  max-width: 550px;
  margin: 5px 0;
  font-size: 17px;
}
.main .about .content-about .menu-list .towar .price {
  font-size: 30px;
  margin: 0;
}
.main .about .content-about .menu-list .towar .price:after {
  content: "₽";
}
.main .about img {
  max-width: 800px;
  height: -moz-fit-content;
  height: fit-content;
}
.main .block-p {
  padding: 50px 0;
  font-size: 35px;
  text-align: center;
  color: #fff;
}
.main .form-back {
  margin-top: 100px;
  background: url("../images/image-4.png");
  background-size: cover;
  height: 700px;
  justify-content: end;
  display: flex;
  color: white;
}
.main .form-back .content-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(0, 0, 0, 0.631372549);
  width: 60vw;
}
.main .form-back .content-form input {
  background-color: rgba(0, 0, 0, 0.631372549);
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
}
.main .form-back .content-form .title {
  font-size: 50px;
  margin-bottom: 50px;
}
.main .form-back .content-form .blocks-form {
  width: 700px;
  display: grid;
  grid-gap: 20px;
  margin-bottom: 40px;
}
.main .form-back .content-form .blocks-form input {
  min-width: -moz-max-content;
  min-width: max-content;
}
.main .form-back .content-form .blocks-form.block-1fr {
  grid-template-columns: 1fr;
}
.main .form-back .content-form .blocks-form.block-2fr {
  grid-template-columns: 1fr 1fr;
}
.main .form-back .content-form .blocks-form.block-3fr {
  grid-template-columns: 1fr 1fr 1fr;
}
.main .form-back .content-form .but-action {
  margin-top: 30px;
  font-size: 30px;
}
.main .two-image {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.main .two-image img {
  max-height: 700px;
}
.main .info-block-one, .main .info-block-two {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  align-items: center;
  border: 3px solid #fff;
}
.main .info-block-one img, .main .info-block-two img {
  max-height: 350px;
}
.main .info-block-one .content, .main .info-block-two .content {
  padding: 20px 10px;
  color: #fff;
  text-align: center;
}
.main .info-block-one .content .title, .main .info-block-two .content .title {
  color: #C8AA94;
  font-size: 50px;
}
.main .info-block-one .content .text, .main .info-block-two .content .text {
  margin-top: 50px;
  max-width: 700px;
  font-size: 30px;
}
.main .info-block-two {
  flex-direction: column;
}
.main .info-block-two img {
  max-width: 1400px;
}
.main .info-block-two .content .text {
  max-width: 1300px;
  padding-bottom: 40px;
}

.footer {
  background-color: #1c1c1c;
  font-size: 17px;
  padding: 50px 0;
  color: white;
}
.footer .social {
  display: flex;
  justify-content: space-between;
}
.footer .social a {
  color: white;
  text-decoration: none;
}
.footer .social a:hover {
  color: #EC865D;
}
.footer .contact {
  margin: 30px 0;
  text-align: center;
}
.footer .copyright {
  color: #C8AA94;
  font-size: 14px;
  text-align: end;
}